.profile-picture {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 2rem;
}

.about-me {
    display: flex;
    float: right;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
}

.text-right {
    text-align: center;
    width: 90%;
    font-size: 20px;
    margin-left: 5rem;
    margin-top: 3rem;
}

#bg-img {
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.social-networks {
    text-align: center;
    height: 100%;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 260%;
    margin: 2%;
    padding: 2%;
    color: aliceblue;
}

/* Footer */

#footer {
    background-color: #393D47;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    margin-left: 5.2rem;
}

/* skills section */

.skills {
    margin: 1rem;
}

/* cards for projects */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    display: flex;
    width: 40%;
    height: 30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.cards {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-left: 17rem;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    width: 20%;
    height: 10%;

}

.cards:disabled {
    pointer-events: none;
}

.cards:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.cards:active {
    box-shadow: none;
    transform: translateY(0);
}

/* styling of the text in cards */

.cards-img {
    text-align: center;
}