.background {
    background-image: url("/assets/images/pexels-felix-mittermeier-956981.jpg");
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.profile-name {
    text-transform: uppercase;
    color: white;
    opacity: 1;
}